<div class="container-narrow">
  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <% if current_user %>
        <li><%= link_to 'App', app_path %></li>
        <li><%= link_to 'Logout', signout_path %></li>
      <% end %>

      <li><a href="#">About</a></li>
    </ul>
    <h3 class="muted">TweetClock</h3>
  </div>

  <hr>

  <div class="jumbotron">
    <% if flash[:failure] %>
      <div class="alert alert-block">
        <h4>Uh Oh! Sign in failed!</h4>
        <%= flash[:failure] %>
      </div>
    <% end %>

    <h1>Tweet at Exactly the Right Time</h1>
    <p class="lead">Have an announcement and followers around the world? Use this app to create a queue of tweets and send them out at the right time in any time zone.</p>

    <% if current_user %>
      <%= link_to 'Go to App', app_path, class: 'btn btn-large btn-success' %>
    <% else %>
      <%= link_to 'Go to App', signup_path, class: "btn btn-large btn-success" %>
    <% end %>
  </div>

  <hr>
<div>
