{{#each tweet in controller itemController=tweetItem}}
  {{#if tweet.isCompletelyLoaded}}
    <p>{{view TweetPoster.TweetTextArea valueBinding="tweet.text" disabledBinding="tweet.isDisabled"}} (Dirty: {{tweet.isDirty}})</p>

    <p>{{input type="date" valueBinding="tweet.date" disabledBinding="tweet.isDisabled"}}</p>

    {{#each time in tweet.times itemController=timeItem}}
      {{#unless time.isNew}}
        <div>
          {{view TweetPoster.HourSelect valueBinding=time.hour disabledBinding=tweet.isDisabled}}
          {{view TweetPoster.MinuteSelect valueBinding=time.minute disabledBinding=tweet.isDisabled}}
          {{view TweetPoster.AmPmSelect valueBinding=time.meridian disabledBinding=tweet.isDisabled}}
          {{view TweetPoster.TimeZoneSelect valueBinding=time.offset disabledBinding=tweet.isDisabled}}

          <button {{action 'removeTime' tweet time}} {{bindAttr disabled="tweet.isDisabled"}}>X</button>

          {{tweet.date}}
          (Dirty: {{time.isDirty}})
        </div>
      {{/unless}}
    {{/each}}

    <button {{action 'addTime' tweet}} {{bindAttr disabled="tweet.isDisabled"}}>Add Another Time</button>
  {{/if}}
{{/each}}
