{{#each tweet in controller itemController=tweetItem}}
  {{#if tweet.isCompletelyLoaded}}
    <p>{{tweet.text}} (Dirty: {{tweet.isDirty}})</p>

    <p>{{input type="date" valueBinding="tweet.date"}}</p>

    {{#each time in tweet.times itemController=timeItem}}
      <div>
        {{view TweetPoster.HourSelect valueBinding=time.hour}}
        {{view TweetPoster.MinuteSelect valueBinding=time.minute}}
        {{view TweetPoster.AmPmSelect valueBinding=time.meridian}}
        {{view TweetPoster.TimeZoneSelect valueBinding=time.offset}}

        <a href="#" {{action 'removeTime' tweet time}}>X</a>

        {{tweet.date}}
        (Dirty: {{time.isDirty}})
      </div>
    {{/each}}

    <button {{action 'addTime' tweet}}>Add Another Time</button>
  {{/if}}
{{/each}}
